DATABASE_URL=mysql://root:zzfhnfFWIxEmVxRWaxjulDiLAQaRccEB@mysql.railway.internal:3306/railway
BOT_TOKEN=8606553852:AAE26ZGdGJmNH-9x11RGXWSKkVF0ImLtfvQ
SESSION_SECRET=s3cr3t_k3y_debt_manager_2024_xTzPqR
WEB_APP_URL=https://localhost:5173
PORT=3001
INTERNAL_API_KEY=debt_manager_internal_api_key_2024_secure_random_string

# Web App (Vite)
VITE_BOT_USERNAME=Qarznazoratibot
VITE_SERVER_URL=https://joyful-alignment-production-62e8.up.railway.app