DATABASE_URL=mysql://root:zzfhnfFWIxEmVxRWaxjulDiLAQaRccEB@crossover.proxy.rlwy.net:24459/railway
BOT_TOKEN=8606553852:AAE26ZGdGJmNH-9x11RGXWSKkVF0ImLtfvQ
SESSION_SECRET=zzfhnfFWIxEmVxRWaxjulDiLAQaRccEB
WEB_APP_URL=https://mysql-production-b40b.up.railway.app
PORT=3001
INTERNAL_API_KEY=debt_manager_internal_api_key_2024_secure_random_string

# Web App (Vite)
VITE_BOT_USERNAME=Qarznazoratibot